body {
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
}
.navbar-brand {
    font-size: 2.2em;
}
.pc-nav {
    font-size: 1.35em;
}
/*jumbotron*/

.jumbotron {
    margin-top: 50px;
}
.jumbotron th {
    font-size: 1.8em;
}
/*main content css*/

.maincontent {
    margin-bottom: 50px;
}
.maincontent td {
    height: 75px;
    min-height: 75px;
    min-width: 45px;
    /*vertical-align: middle !important;*/
    text-align: center;
}
.parkingspot {
    height: 100%;
    width: auto;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.empty {
    background-image: url(../assets/cars/empty.png);
}
.car {
    background-image: url(../assets/cars/car4.png);
}
/* popup barble*/

.popup-info {
    display: none;
    text-align: center;
    position: fixed;
    bottom: 50px;
}
/* footer css */

.row-fluid {
    display: table-cell;
    vertical-align: middle;
}
.vertical-center {
    margin: 0 auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #bfbfbf;
}
footer .container {
    height: 100%;
    display: table;
}