body {
    position: relative;
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
}
.navbar-brand {
    font-size: 2.2em;
}
.pc-nav {
    font-size: 1.35em;
}
/*==========================carousel style==============================*/

.carousel-plot {
    margin-top: 50px;
}
.carousel-plot .item img {
    width: 100%;
    margin: 0 auto;
}
.carousel-fade .item {
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.carousel-fade .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}
.carousel-fade .next {
    left: 0;
    opacity: 1;
    z-index: 1;
}
.carousel-fade .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}
.carousel-fade .next {
    left: 0;
    opacity: 1;
    z-index: 1;
}
/*==========================maincontent style==============================*/

.maincontent {
    margin: 50px auto;
}
.p-h1 {
    margin: 0;
    text-align: center;
}
.p-h2 {
    text-align: center;
    margin: 20px auto;
}
.p-h3 {
    font-size: 3em;
    text-align: center;
    margin: 0 auto 30px;
    color: #404040;
}
@media (min-width: 768px) {
    .lightspot {
        display: -webkit-inline-flex !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        margin-bottom: 50px;
        background-color: rgba(80, 181, 255, 0.6);
    }
}
@media (max-width: 767px) {
    .lightspot {
        display: block;
        margin-bottom: 50px;
        background-color: rgba(80, 181, 255, 0.6);
    }
}
.lightspot:hover {
    background-color: rgba(52, 107, 255, 0.49);
}
.lightspot .info {} .lightspot img {
    margin: 0 auto;
}
/* +++++++++++++++++++ */

.h-text {
    margin-bottom: 10px;
    font-size: 2.2em;
    text-align: left;
}
/*==========================form style==============================*/

.lotlist {} .lotform {
    margin-top: 20px;
    text-align: center;
}
.form-control.form-select {
    width: 100%;
}
.form-inline .form-group {
    margin-bottom: 15px;
}
/*===========================lotlisttable style=========================*/

.lotlisttable {
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
}
.blockpic {
    width: 100%;
    font-size: 1.5em;
    white-space: normal;
    margin-top: 20px;
    padding: 15px 25px;
    display: inline-block;
    background-color: rgba(61, 164, 239, 0.5);
}
a.blockpic {
    text-decoration: none;
}
a.blockpic:active {
    background-color: #7070d9;
}
a.blockpic:hover {
    color: #eb3737;
    background-color: #e6adad;
}
/*===============================================*/

.lotconten {
    display: none;
}
/*==========================lotinfo style==========================*/

.lotinfo {
    margin-top: 20px;
    padding-bottom: 20px;
    /*box-shadow:inset 0 0px 10px rgba(0,0,0,.6);*/
}
.lot-table {
    margin-top: 20px;
    /*    display:table;*/
}
.lot-table .col {
    padding: 10px 0;
}
@media (max-width: 991px) {
    .lot-table .col {
        border-top: 2px dotted;
    }
    .lot-table .firstrow .col1 {
        border: none;
    }
}
@media (min-width: 992px) {
    .lot-table .rowblock {
        border-top: 2px dotted;
    }
}
.lot-table .firstrow {
    border-top: 2px solid;
}
.lot-table .lastrow {
    border-bottom: 2px solid;
}
.lot-table .thead {}
/* ====================================== */

.queryblock {
    margin: 10px auto 20px;
}
.fix-group {
    position: absolute;
    top: 4%;
    right: 3%;
}
/*===========================realtimeinfo style==============================*/

.rtinfo {
    width: 100%;
}
.lotmap {
    border: solid 1px #ccc;
    overflow: auto;
    white-space: nowrap;
}
.lotimg {
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: auto;
    white-space: normal;
    display: inline-block;
}
#lot-map {
    position: relative;
    height: 500px;
    width: 100%;
}
.overlay-img {
    margin: 0;
    z-index: 100;
    position: absolute;
}
.orient-left {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.orient-up {} .orient-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.barble-box {
    position: absolute;
    bottom: 6%;
    z-index: 100;
    display: none;
}
.refresh-car {
    width: 100%;
    text-align: center;
    box-shadow: 0 0 42px #3564e5;
}
/*===============================analysis style================================*/

.analysis {
    width: 100%;
}
#analysis {
    display: none;
}
.chart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* ==============================footer style ==============================*/

.row-fluid {
    display: table-cell;
    vertical-align: middle;
}
.vertical-center {
    margin: 0 auto;
}
.copyright {
    color: #7484fd;
    text-shadow: 2px 2px 2px #1d00ff;
}
.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: rgba(0, 0, 0, 0.88);
}
.fix-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 35px;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 200;
}
.footer .container {
    height: 100%;
    display: table;
}
.fix-footer .container {
    height: 100%;
    display: table;
}
.btn-long {
    padding-left: 50px;
    padding-right: 50px;
}
/*=======================map-style========================*/

#allmap {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
}
.BMap_mask {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .6);
}
.BMapLabel {
    max-width: none;
}
#time-distance {
    font-size: 1.2em;
    position: absolute;
    top: 5%;
    right: 4%;
    border: 1px solid #666;
    border-radius: 0.8em;
    box-shadow: 0 0 10px #afafaf;
}
#time-distance span {
    vertical-align: middle;
    padding: 0 1em 0 1em;
}
.map-form {
    margin-top: 0.5em;
}